.rw-page-menu {
  display: flex;
  justify-content: space-between;
  align-content: center; }
  .rw-page-menu a {
    color: white;
    padding: 7px 15px;
    margin-left: 20px;
    font-weight: 300;
    font-size: 12px;
    border-radius: 15px; }
    .rw-page-menu a:hover, .rw-page-menu a:visited, .rw-page-menu a:active, .rw-page-menu a:focus {
      text-decoration: none;
      outline: none;
      color: white; }
    .rw-page-menu a:hover {
      text-decoration: none;
      color: #ff0000; }
    .rw-page-menu a:active, .rw-page-menu a.active {
      font-weight: 600;
      background-color: rgba(255, 255, 255, 0.3); }
